.row
  %p.alert-box.radius.success
    To save your work in progress, fill in
    %strong required* 
    fields and hit the 
    %strong Preview
    button.
= form_for( @job, form_params(@job) ) do |f|
  %h3 Tell us about the position
  .row
    .large-4.columns
      = f.label :title, "Job title*", class: "inline show-for-large-up"
      = f.label :title, "Job title*", class: "hide-for-large-up"
    .large-16.columns.left
      = f.text_field :title, placeholder: "\"Community Developper\" or \"UX Designer\""
      %p.alert-box.radius.success
        No need to specify the name of your company in the job title. The robot will take care of it !
  .row
    .large-4.columns
      = f.label :location, "Location", class: "inline show-for-large-up"
      = f.label :location, "Location", class: "hide-for-large-up"
    .large-16.columns.left
      = f.text_field :location, placeholder: "\"Lille, France\" or \"London, UK\" or \"Remote\""
  .row
    .large-24.columns
      = f.label :description, "Job description"
      = render 'toolbar'
      = f.text_area :description, placeholder: "Please consider avoiding meaningless buzzwords and prefer words that makesense."
  .row
    .large-24.columns
      = f.label :apply, "How to apply for this job? *"
      = f.text_area :apply, placeholder: "Keep it short! Ex. \"Send an email with links to your work and projects at the.dude@makesense.org\""

  %hr
  %h3 Tell us about your company / organisation
  .row
    .large-4.columns
      = f.label :company_name, "Name*", class: "inline show-for-large-up"
      = f.label :company_name, "Name*", class: "hide-for-large-up"
    .large-16.columns.left
      = f.text_field :company_name, placeholder: "Your company or organisation's name"
  .row
    .large-4.columns
      = f.label :company_url, "Website", class: "inline show-for-large-up"
      = f.label :company_url, "Website", class: "hide-for-large-up"
    .large-16.columns.left
      = f.text_field :company_url, placeholder: "Ex. http://we.makesense.org"
  .row
    .large-4.columns
      = f.label :logo, class: "inline show-for-large-up"
      = f.label :logo, class: "hide-for-large-up"
    .large-16.columns.left
      = image_tag(@job.logo_url, class: "th") if @job.logo?
      = f.file_field :logo
  .row
    .large-4.columns
      = f.label :email, "Email*", class: "inline show-for-large-up"
      = f.label :email, "Email*", class: "hide-for-large-up"
    .large-16.columns.left
      = f.text_field :email, placeholder: "Your email"
      %p.alert-box.radius.success Your email will be kept private. You will soon receive a message with a link to edit your ad.
    
  = f.submit value: "Preview your ad", class: "button radius"
