.row
  .share.text-center.medium-16.medium-centered.columns
    %h6= 'Sharing is caring'.upcase
    .medium-12.columns
      = link_to "Tweet this job", "http://twitter.com/home?status=#{@job.company_name} is hiring a #{@job.title} at #{job_url @job}", class: 'button twitter expand small radius'
    .medium-12.columns
      = link_to "Share it with a friend", "http://www.facebook.com/sharer.php?u=#{job_url @job}&t=#{@job.title}", class: 'button facebook expand small radius'
    = mail_to "","The email way", body: "#{@job.company_name} is hiring a #{@job.title} at #{job_url @job}", subject: "#{@job.title}"
