- provide :title, @job.title

.row
  .large-16.small-centered.columns
    %h1.catchy= @job.title
    .row
      .medium-12.columns
        %h4
          %small
            POSTED
            = @job.created_at.strftime('%B %d').upcase
        .company
          %h3.catchy= @job.company_name
          = link_to @job.company_clean_url, @job.company_url
          %p= @job.location
      .medium-12.columns
        = image_tag @job.logo_url, class: 'job-logo right show-for-medium-up' if @job.logo?
        = image_tag @job.logo_url, class: 'job-logo job-logo-small hide-for-medium-up' if @job.logo?
    %hr

    // TODO - fiw security issue
    .job-offer= sanitize @job.description
    .panel.radius.callout
      %h4= "apply for this job".upcase
      // TODO - fiw security issue
      %p= sanitize @job.apply

