.row
  .large-16.small-centered.columns
    %h1= @job.title
    .row
      .medium-12.columns
        %h4
          %small
            POSTED
            = @job.created_at.strftime('%B %d').upcase
        %strong= @job.company_name
        %p= @job.location
        = link_to @job.company_url, @job.company_url
      .medium-12.columns
        = image_tag @job.logo_url, class: 'right show-for-medium-up' if @job.logo?
        = image_tag @job.logo_url, class: 'job-logo hide-for-medium-up' if @job.logo?
    %hr

    %p= @job.description.html_safe
    .panel.radius.callout
      %h4= "apply for this job".upcase
      %p= @job.apply.html_safe