- provide :title, @job.title

.row
  .large-16.small-centered.columns
    %h1.catchy= @job.title
    .row
      .medium-12.columns
        %h4
          %small
            POSTED
            = @job.created_at.strftime('%B %d').upcase
        .company
          %h3.catchy= @job.company_name
          = link_to @job.company_clean_url, @job.company_url
          %p= @job.location
      .medium-12.columns
        = image_tag @job.logo_url, class: 'job-logo right show-for-medium-up' if @job.logo?
        = image_tag @job.logo_url, class: 'job-logo job-logo-small hide-for-medium-up' if @job.logo?
    %hr

    .job-offer= @job.description.html_safe
    .panel.radius.callout
      %h4= "apply for this job".upcase
      %p= @job.apply.html_safe
    .share.text-center.medium-18.medium-centered.columns
      %h6= 'Sharing is caring'.upcase
      .medium-12.columns
        = link_to "Tweet this job", "http://twitter.com/home?status=#{@job.company_name} is hiring a #{@job.title} at #{job_url @job}", class: 'button twitter expand small radius'
      .medium-12.columns
        = link_to "Share it with a friend", "http://www.facebook.com/sharer.php?u=#{job_url @job}&t=#{@job.title}", class: 'button facebook expand small radius'
      = mail_to "","or the email way", body: "#{@job.company_name} is hiring a #{@job.title} at #{job_url @job}", subject: "#{@job.title}"
