.row
  .large-8.small-centered.columns
    %h1= @job.title
    %h4
      %small
        POSTED
        = @job.created_at.strftime('%B %d').upcase
    = image_tag @job.logo_url, class: 'right' if @job.logo?
    %strong= @job.company_name
    %p= @job.location
    = link_to @job.company_url, @job.company_url
    %hr

    %p= @job.description
    .panel.radius
      %h4= "apply for this job".upcase
      %p= @job.apply