.row
  %a{ href: "#{root_url}"}
    %img{ src: "/makesense_jobs.png", class: "logo"}
%h1.text-center We want Jobs that MakeSense !
.row
  .large-7.small-centered.columns
    - @jobs.each do |job|
      .row
        %p.large-10.columns
          %b= job.company_name.upcase 
          = link_to job.title, job_path(job)
          %i= "in #{job.location}"
        %p.large-2.columns.text-right
          = job.created_at.strftime('%b %d').upcase
