= render 'header'
%h2.text-center.tagline No bullshit jobs. Just impact.
.row
  .large-22.small-centered.columns.job-list
    - @jobs.each do |job|
      .row.highlighted
        %p.small-20.medium-21.columns
          %strong= job.company_name
          = link_to job.title, job_path(job)
          - unless job.location.empty?
            in
            = "#{job.location}"
        %p.small-4.medium-3.columns.text-right.date
          = job.created_at.strftime('%b %d').capitalize
= render 'footer'
