= render 'header'
%h2.text-center Say no to bullshit jobs!
.row
  .large-8.small-centered.columns
    - @jobs.each do |job|
      .row
        %p.small-10.columns
          %strong= job.company_name.upcase 
          = link_to job.title, job_path(job)
          - unless job.location.empty?
            in 
            = "#{job.location}"
        %p.small-2.columns.text-right
          = job.created_at.strftime('%b %d').upcase
        %hr
